
div .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(45,155,241);
  color: blue;
  text-align: center;
  height: 9%;
  opacity: 20%;
}

.carosuel  {
  width: 40rem;
  display: table-cell;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
  /* margin-left: 10rem; */
}

img {
  border-radius: 60%;
}

.homeSection p {
  font-family: 'Ramaraja', serif;
  font-size: 24px;
  color: rgb(45,155,241);
  transform: translate(150%, -200%);
  display: inline-table;
  text-align: justify;
  margin-top: 100px;
  
}

.homeSection-2 p {
  font-family: 'Ramaraja', serif;
  color: rgb(45,155,241);
  transform: translate(210%, -150%);
  font-size: 20px;
  text-align: -webkit-right;
}

nav {
    justify-content: space-between;
    background-color: antiquewhite;
    margin-top: 10px;
}

 .material-symbols-outlined {
 font-size: 10px;
 color: rgb(45,155,241);
}


/* .navContent {
  margin-top: 15px;
  display: grid;
  /* grid-template-columns: repeat(14, 7fr); */
  /* grid-template-columns: 100px 50px 50px 300px; */
  /* width:100% */


 

/* .userLink {
  grid-column-start: 13;
  display: flex;
  align-items: center;
  font-size:10px;
} */

/* .parentingTips{
  grid-column-start: 10;

} */
/* .material-symbols-outlined {
 font-size: 40px;
 color: rgb(45,155,241);
}
 .home {
  grid-column-start:1;
  margin-left:7rem
  
} */

/*  */